.track {
    border: 1px solid #999;
    height: 80px;
    position: relative;
}

.track_segment {
    border-right: 1px solid #999;
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    width: 10%;
}

.track_car img {
    width: 100%;
}

.track_segment:last-child {
    border-right: 0;
}

.track_car {
    height: 100%;
    width: 10%;
    position: absolute;
    top: 0;
}