.car {
    width: 25%;
    float: left;
    padding: 21px;
}
.car img {
    width: auto;
    height: 120px;
}
li:nth-child(3n+2) {
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}
li:nth-child(n+4) {
    border-top:1px solid gray;   
}
li {
    list-style-type: none;
}

.cardBorder {
    border:2px solid gray;
    border-radius: 10px;
}

.cardBorderSelected {
    border:2px solid red;
    border-radius: 10px;
}

#card {
    float:left;
    width: 100%;
    height: 130px;
    -webkit-transition: -webkit-transform 0.9s;
    -moz-transition: -moz-transform 0.9s;
    -o-transition: -o-transform 0.9s;
    transition: transform 0.9s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  figure {
    display: block;
    text-align: center;
    margin: 0;
    padding: 10px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .back {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
  }
  #card:hover {transform:rotateY(180deg);}

  .carSelectBox {
      zoom: 2;
  }