section {
  width: 960px;
  margin: 0 auto;
}
h3 {
  margin: 0 0 5px 0;
}
ul {
  width: 100%;
}
.searchInput {
  width: 90%;
  border-radius: 10px;
  padding: 5px;
  font-size: 22px;
  margin: 10px;
}
.checkCar {
  margin-top:10px;
}
.carList {
  height: 400px;
}
.startBtn {
  float: right;
  padding: 10px 30px 10px 30px;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 24px;
  background: white;
}